name: Build Xamarin Android Debug APK

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET & Xamarin
        uses: microsoft/setup-msbuild@v1.3.2

      - name: Restore NuGet packages
        run: nuget restore ./XamarinApp.sln

      - name: Build Debug APK
        run: msbuild XamarinApp.csproj /t:PackageForAndroid /p:Configuration=Debug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: |
            **/bin/Debug/*.apk
            **/bin/Debug/*.aab
